numpy
pandas
scikit-learn

spacy
sentence_transformers
rapidfuzz

pyarrow
pandas-gbq

tqdm

google-cloud-storage	
google-cloud-bigquery
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
